[user]
	name = Gyorgy Demarcsek
	email = dgy.jr92@gmail.com
[color]
	ui = true
[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
	ignorecase = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
	tool = vimdiff
	guitool = gvimdiff
[ui]
	color = auto
[rebase]
	autostash = true
[pull]
	rebase = true
[push]
	default = tracking
